<%- include('header') %>

<form method="GET" action="/fxrate">
    <input name="fxrate" placeholder="Dollar FX Rate"><br>
    <input name="quantity" placeholder="Dollar quantity"><br>
    <button>Convert</button>
</form>

<%- include('footer') %>